* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Roboto";
  src: url("../fuentes/Roboto/Roboto-Regular.ttf");
}

/*ESTILOS SMARTPHONE*/
/*ESTILOS SMARTPHONE*/
/*ESTILOS SMARTPHONE*/
/*ESTILOS SMARTPHONE*/
/*ESTILOS SMARTPHONE*/

@media (max-width: 479.5px) {
  .father-body {
    background-color: #000000;
    width: 100%;
    height: 100vh;
    display: grid;

    grid-template-areas:
      "naveg head"
      "naveg hero"
      "naveg videos"
      "naveg footer";

    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr 4fr 1fr;
  }

  /* GRID IDS*/

  #sectionhead {
    grid-area: head;
    /* border: solid 1px black; */
    background-color: #fc9c64;
  }

  .header-title-style {
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    text-align: center;
  }

  .header-slogan-style {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
  }

  #sectionmenu {
    grid-area: naveg;
    font-family: "Roboto", sans-serif;
    background-color: #fc9c64;
    border-right: 1px solid #000000;
    /* border: solid 1px black; */
  }
  .navcontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .menu-img-logo-style-size {
    display: block;
    width: 30px;
    height: 30px;
    margin: 20px auto;
  }
  .menu-img-logo-style {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    border: 2px solid #6484fc;
    border-radius: 50%;
  }

  .menu-list-style {
    list-style-type: square;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
  }

  aside > nav > ul > li {
    margin: 10px;
  }
  .menu-list-link-style {
    display: flex;
    justify-content: center;
    font-size: 0.6em;
    color: white;
    border: solid 2px rgb(255, 255, 255);
    padding: 4px;
  }

  #sectionhero {
    grid-area: hero;
    /* border: solid 1px black; */
    width: 100%;
    padding: 0px 10px;
  }

  .main-hero-img {
    max-width: 100%;
    max-height: 100%;
  }

  #sectionvideos {
    grid-area: videos;
    /* border: solid 1px black; */
  }

  .main-categories {
    font-family: "Roboto", sans-serif;
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 12px;
    color: white;
  }

  #sectionfooter {
    grid-area: footer;
    background-color: #fc9c64;
    /* border: solid 1px black; */
  }

  .footer-img-logo-container {
    display: block;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .footer-img-logo {
    border: 2px solid #6484fc;
    border-radius: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  .footer-area-list {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    margin: 20px 0px 20px 0px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-links {
    color: white;
    text-decoration: none;

    margin-right: 20px;
  }

  /* AQUI COMIENZAN ALGUNOS ESTILOS DE CONCEPT ART*/

  #containerGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    margin: 20px 0px;
    padding: 0px 10px;
  }

  .main-container-cathegory-img-concept {
    height: 100%;
    width: 100%;
  }
  .main-category-img-concept {
    height: 100%;
    width: 100%;
  }

  .main-area-titles {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin: 20px;
    color: rgb(255, 255, 255);
  }

  /* AQUI COMIENZAN UNOS ESTILOS DE QUIENES SOMOS*/

  .containerArtQuienesSomos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 15px;
    padding: 10px;
  }

  .main-categorie-img-container {
    height: 100%;
    width: 100%;
  }
  .main-categorie-img {
    height: 100%;
    width: 100%;
  }

  /*AQUI COMIENZAN UNOS ESTILOS DE CONTACTO*/
  .form-area-titles {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-left: 10px;
    padding: 10px;
    color: rgb(255, 255, 255);
  }

  .form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 250px;
  }

  .form-area-label {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: rgb(255, 255, 255);
  }

  /*AQUI COMIENZAN UNOS ESTILOS DE AYUDA*/

  .main-categories-tittle-help {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    margin: 0px 10px;
    padding: 10px 10px;
    color: white;
  }
}

/*ESTILOS TABLET CHICA*/
/*ESTILOS TABLET CHICA*/
/*ESTILOS TABLET CHICA*/
/*ESTILOS TABLET CHICA*/
/*ESTILOS TABLET CHICA*/
/*ESTILOS TABLET CHICA*/
/*ESTILOS TABLET CHICA*/
/*ESTILOS TABLET CHICA*/
/*ESTILOS TABLET CHICA*/
/*ESTILOS TABLET CHICA*/

@media (min-width: 479.6px) and (max-width: 699.5px) {
  .father-body {
    background-color: #000000;
    width: 100%;
    height: 100vh;
    display: grid;

    grid-template-areas:
      "naveg head"
      "naveg hero"
      "naveg videos"
      "naveg footer";

    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr 4fr 1fr;
  }

  /* GRID IDS*/

  #sectionhead {
    grid-area: head;
    /* border: solid 1px black; */
    background-color: #fc9c64;
  }

  .header-title-style {
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    text-align: center;
  }

  .header-slogan-style {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
  }

  #sectionmenu {
    grid-area: naveg;
    font-family: "Roboto", sans-serif;
    background-color: #fc9c64;
    border-right: 1px solid #000000;
    /* border: solid 1px black; */
  }
  .navcontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .menu-img-logo-style-size {
    display: block;
    width: 40px;
    height: 40px;
    margin: 20px auto;
  }
  .menu-img-logo-style {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    border: 2px solid #6484fc;
    border-radius: 50%;
  }
  .menu-list-style {
    list-style-type: square;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
  }

  aside > nav > ul > li {
    margin: 10px;
  }
  .menu-list-link-style {
    display: flex;
    justify-content: center;
    font-size: 0.7em;
    color: white;
    border: solid 2px rgb(255, 255, 255);
    padding: 4px;
  }

  #sectionhero {
    grid-area: hero;
    /* border: solid 1px black; */
    width: 100%;
    padding: 0px 10px;
  }

  .main-hero-img {
    max-width: 100%;
    max-height: 100%;
  }

  #sectionvideos {
    grid-area: videos;
    /* border: solid 1px black; */
  }

  .main-categories {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin: 10px 10px;
    padding: 10px 10px;
    color: white;
  }

  #sectionfooter {
    grid-area: footer;
    background-color: #fc9c64;
    /* border: solid 1px black; */
  }

  .footer-img-logo-container {
    display: block;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .footer-img-logo {
    border: 2px solid #6484fc;
    border-radius: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  .footer-area-list {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin: 20px 0px 20px 0px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-links {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }

  /* AQUI COMIENZAN ALGUNOS ESTILOS DE CONCEPT ART*/

  #containerGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    margin: 20px 0px;
    padding: 0px 10px;
  }

  .main-container-cathegory-img-concept {
    height: 100%;
    width: 100%;
  }
  .main-category-img-concept {
    height: 100%;
    width: 100%;
  }

  .main-area-titles {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin: 20px;
    color: rgb(255, 255, 255);
  }

  /* AQUI COMIENZAN UNOS ESTILOS DE QUIENES SOMOS*/

  .containerArtQuienesSomos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 15px;
    padding: 15px;
  }

  .main-categorie-img-container {
    height: 100%;
    width: 100%;
  }
  .main-categorie-img {
    height: 100%;
    width: 100%;
  }

  /*AQUI COMIENZAN UNOS ESTILOS DE CONTACTO*/
  .form-area-titles {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
    padding: 10px;
    color: rgb(255, 255, 255);
  }

  .form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
  }

  .form-area-label {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
  }

  /*AQUI COMIENZAN UNOS ESTILOS DE AYUDA*/

  .main-categories-tittle-help {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    margin: 0px 10px;
    padding: 10px 10px;
    color: white;
  }
}

/*TABLET GRANDE*/
/*TABLET GRANDE*/
/*TABLET GRANDE*/
/*TABLET GRANDE*/
/*TABLET GRANDE*/
/*TABLET GRANDE*/
/*TABLET GRANDE*/
/*TABLET GRANDE*/
/*TABLET GRANDE*/
/*TABLET GRANDE*/
/*TABLET GRANDE*/
/*TABLET GRANDE*/
/*TABLET GRANDE*/
/*TABLET GRANDE*/
/*TABLET GRANDE*/
/*TABLET GRANDE*/

@media (min-width: 699.6px) and (max-width: 1023.5px) {
  .father-body {
    background-color: #000000;
    width: 100%;
    height: 100vh;
    display: grid;

    grid-template-areas:
      "naveg head"
      "naveg hero"
      "naveg videos"
      "naveg footer";

    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr 4fr 1fr;
  }

  /* GRID IDS*/

  #sectionhead {
    grid-area: head;
    /* border: solid 1px black; */
    background-color: #fc9c64;
  }

  .header-title-style {
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    text-align: center;
  }

  .header-slogan-style {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
  }

  #sectionmenu {
    grid-area: naveg;
    font-family: "Roboto", sans-serif;
    background-color: #fc9c64;
    border-right: 1px solid #000000;
    /* border: solid 1px black; */
  }
  .navcontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .menu-img-logo-style-size {
    display: block;
    width: 40px;
    height: 40px;
    margin: 20px auto;
  }
  .menu-img-logo-style {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    border: 2px solid #6484fc;
    border-radius: 50%;
  }
  .menu-list-style {
    list-style-type: square;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
  }

  aside > nav > ul > li {
    margin: 10px;
  }
  .menu-list-link-style {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    border: solid 2px rgb(255, 255, 255);
    padding: 6px;
  }

  #sectionhero {
    grid-area: hero;
    /* border: solid 1px black; */
    width: 100%;
    padding: 0px 10px;
  }

  .main-hero-img {
    max-width: 100%;
    max-height: 100%;
  }

  #sectionvideos {
    grid-area: videos;
    /* border: solid 1px black; */
  }

  .main-categories {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin: 10px 10px;
    padding: 10px 10px;
    color: white;
  }

  #sectionfooter {
    grid-area: footer;
    background-color: #fc9c64;
    /* border: solid 1px black; */
  }

  .footer-img-logo-container {
    display: block;
    height: 30px;
    width: 30px;
    margin-right: 20px;
  }

  .footer-img-logo {
    border: 2px solid #6484fc;
    border-radius: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  .footer-area-list {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin: 20px 0px 20px 0px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-links {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }

  /* AQUI COMIENZAN ALGUNOS ESTILOS DE CONCEPT ART*/

  #containerGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    margin: 20px 0px;
    padding: 0px 10px;
  }

  .main-container-cathegory-img-concept {
    height: 100%;
    width: 100%;
  }
  .main-category-img-concept {
    height: 100%;
    width: 100%;
  }

  .main-area-titles {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin: 20px;
    color: rgb(255, 255, 255);
  }

  /* AQUI COMIENZAN UNOS ESTILOS DE QUIENES SOMOS*/

  .containerArtQuienesSomos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
    padding: 20px;
  }

  .main-categorie-img-container {
    height: 100%;
    width: 100%;
  }
  .main-categorie-img {
    height: 100%;
    width: 100%;
  }

  /*AQUI COMIENZAN UNOS ESTILOS DE CONTACTO*/
  .form-area-titles {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
    padding: 10px;
    color: rgb(255, 255, 255);
  }

  .form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
  }

  .form-area-label {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
  }

  /*AQUI COMIENZAN UNOS ESTILOS DE AYUDA*/

  .main-categories-tittle-help {
    font-family: "Roboto", sans-serif;
    margin: 0px 10px;
    padding: 10px 10px;
    color: white;
  }
}

/*ESTILOS DESKTOP*/
/*ESTILOS DESKTOP*/
/*ESTILOS DESKTOP*/
/*ESTILOS DESKTOP*/
/*ESTILOS DESKTOP*/
/*ESTILOS DESKTOP*/
/*ESTILOS DESKTOP*/
/*ESTILOS DESKTOP*/
/*ESTILOS DESKTOP*/
/*ESTILOS DESKTOP*/
/*ESTILOS DESKTOP*/
/*ESTILOS DESKTOP*/
/*ESTILOS DESKTOP*/
/*ESTILOS DESKTOP*/
/*ESTILOS DESKTOP*/
/*ESTILOS DESKTOP*/
/*ESTILOS DESKTOP*/
/*ESTILOS DESKTOP*/
/*ESTILOS DESKTOP*/
/*ESTILOS DESKTOP*/

@media (min-width: 1023.6px) {
  .father-body {
    background-color: #6484fc;
    width: 100%;
    height: 100vh;
    display: grid;

    grid-template-areas:
      "naveg head"
      "naveg hero"
      "naveg videos"
      "naveg footer";

    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr 4fr 1fr;
  }

  /* GRID IDS*/

  #sectionhead {
    grid-area: head;
    /* border: solid 1px black; */
    background-color: #fc9c64;
  }

  .header-title-style {
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    text-align: center;
  }

  .header-slogan-style {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    color: rgb(255, 255, 255);
  }

  #sectionmenu {
    grid-area: naveg;
    font-family: "Roboto", sans-serif;
    background-color: #fc9c64;
    border-right: 1px solid #000000;
    /* border: solid 1px black; */
  }
  .navcontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .menu-img-logo-style-size {
    display: block;
    width: 50px;
    height: 50px;
    margin: 20px auto;
  }
  .menu-img-logo-style {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    border: 2px solid #6484fc;
    border-radius: 50%;
  }

  .menu-list-style {
    list-style-type: square;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
  }

  aside > nav > ul > li {
    margin: 10px;
    border: solid 2px rgb(255, 255, 255);
  }
  .menu-list-link-style {
    text-align: center;
    color: white;
  }

  #sectionhero {
    grid-area: hero;
    /* border: solid 1px black; */
    width: 100%;
    padding: 0px 10px;
  }

  .main-hero-img {
    max-width: 100%;
    max-height: 100%;
  }

  #sectionvideos {
    grid-area: videos;
    /* border: solid 1px black; */
  }

  .main-categories {
    font-family: "Roboto", sans-serif;
    margin: 10px 10px;
    padding: 10px 10px;
    color: white;
  }

  #sectionfooter {
    grid-area: footer;
    background-color: #fc9c64;
    /* border: solid 1px black; */
  }

  .footer-img-logo-container {
    display: block;
    height: 30px;
    width: 30px;
    margin-right: 20px;
  }

  .footer-img-logo {
    border: 2px solid #6484fc;
    border-radius: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  .footer-area-list {
    font-family: "Roboto", sans-serif;
    margin: 20px 0px 20px 0px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-links {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }

  /* AQUI COMIENZAN ALGUNOS ESTILOS DE CONCEPT ART*/

  #containerGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    margin: 20px 0px;
    padding: 0px 10px;
  }

  .main-container-cathegory-img-concept {
    height: 100%;
    width: 100%;
  }
  .main-category-img-concept {
    height: 100%;
    width: 100%;
  }

  .main-area-titles {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin: 20px;
    color: rgb(255, 255, 255);
  }

  /* AQUI COMIENZAN UNOS ESTILOS DE QUIENES SOMOS*/

  .containerArtQuienesSomos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 30px;
    padding: 20px;
  }

  .main-categorie-img-container {
    height: 100%;
    width: 100%;
  }
  .main-categorie-img {
    height: 100%;
    width: 100%;
  }

  /*AQUI COMIENZAN UNOS ESTILOS DE CONTACTO*/
  .form-area-titles {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-left: 10px;
    padding: 10px;
    color: rgb(255, 255, 255);
  }

  .form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
  }

  .form-area-label {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
  }

  /*AQUI COMIENZAN UNOS ESTILOS DE AYUDA*/

  .main-categories-tittle-help {
    font-family: "Roboto", sans-serif;
    margin: 0px 10px;
    padding: 10px 10px;
    color: white;
  }
}
